:root {
    --primary-Moderate-blue: hsl(238, 40%, 52%);
    --primary-Soft-Red: hsl(358, 79%, 66%);
    --primary-Light-grayish-blue: hsl(238, 57%, 85%);
    --primary-Pale-red: hsl(357, 100%, 86%);

    --neutral-Dark-blue: hsl(212, 24%, 26%);
    --neutral-Grayish-Blue: hsl(211, 10%, 45%);
    --neutral-Light-gray: hsl(223, 19%, 93%);
    --neutral-Very-light-gray: hsl(228, 33%, 97%);
    --neutral-White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: "Karla", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 50rem;
    height: 50rem;
    background-color: var(--primary-Light-grayish-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.comment_box {
    width: 20rem;
    background-color: white;
    height: 10rem;
}

.reply_box {
    height: 10rem;
    width: 15rem;
    background-color: red;
    margin-left: 5rem;
}

.vertical {
    display: inline-block;
    width: 1rem;
    height: 10rem;
    border-left: 0.2rem solid green;
    position: relative;
    left: -5rem;
}

.user_reply {
    width: 20rem;
    height: 10rem;
    background-color: white;
}
