:root {
    --primary-Moderate-blue: hsl(238, 40%, 52%);
    --primary-Soft-Red: hsl(358, 79%, 66%);
    --primary-Light-grayish-blue: hsl(238, 57%, 85%);
    --primary-Pale-red: hsl(357, 100%, 86%);

    --neutral-Dark-blue: hsl(212, 24%, 26%);
    --neutral-Grayish-Blue: hsl(211, 10%, 45%);
    --neutral-Light-gray: hsl(223, 19%, 93%);
    --neutral-Very-light-gray: hsl(228, 33%, 97%);
    --neutral-White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: "Karla", sans-serif;
}

body {
    background-color: var(--neutral-Very-light-gray);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--neutral-Very-light-gray);
}

.container {
    width: 100rem;
    height: max-content;
    background-color: var(--neutral-Very-light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
    gap: 1rem;
}

.comment_container {
    display: flex;
    width: 40rem;
    height: fit-content;
    background-color: var(--neutral-White);
    flex-direction: row;
    gap: 1rem;
}

.comment_box {
    width: 35rem;
    height: fit-content;
}

.comment_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}

.comment_nav-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.user_name {
    font-weight: bolder;
}

.post_date {
    color: #6f737c;
}

.profile_pic {
    width: 2rem;
    height: 2rem;
}

.reply_btn {
    display: flex;
    flex-direction: row;
    padding-right: 2rem;
    text-decoration: none;
}

.reply_icon {
    width: 1rem;
    height: 1rem;
}

.reply_icon_text {
    color: var(--neutral-Dark-blue);
}

.comment_text {
    color: #6f737c;
    margin: 1rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#update_button {
    align-self: flex-end;
}

.comment_text > p {
    max-width: 33rem;
    word-break: break-all;
    display: inline-block;
    height: fit-content;
}

.vote_container {
    width: 2rem;

    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.4rem;
    background-color: var(--neutral-Very-light-gray);
    border-radius: 0.6rem;
    margin: 1rem 1rem 2rem 1rem;
}

.upvote {
    transform: scale(0.5);
    padding: 0.3rem;
}

.votes {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    color: var(--neutral-Dark-blue);
}

.downvote {
    transform: scale(0.5);
    padding: 0.3rem;
}

.reply_container {
    width: 40rem;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3rem;
}

.vertical {
    width: 0rem;
    border: none;
    border-left: 0.2rem solid var(--neutral-Light-gray);
}

.reply_column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.reply_box {
    width: 35rem;
    height: fit-content;
    background-color: var(--neutral-White);
    display: flex;
    flex-direction: row;
}

/* Active State CSS */

.active_state {
    border: 0.1rem solid black;
    border-radius: 0.4rem;
    padding: 0.8rem;
}

.input_reply_container {
    display: flex;
    width: inherit;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    padding-top: 2rem;
}

.input_reply_container > img {
    width: 2rem;
    height: 2rem;
    display: block;
    position: relative;
    left: 1rem;
}

.self-indicator {
    display: none;
    background-color: var(--primary-Moderate-blue);
    color: white;
    padding: 0.1rem;
}

.replyingToUser {
    color: var(--primary-Moderate-blue);
    font-weight: bolder;
}

.comment_input {
    width: inherit;
    min-height: 1rem;
    margin-bottom: 1rem;
    padding: 1.2rem;
    border-radius: 0.6rem;
    color: #6f737c;
    border: 0.1rem solid;
}

.input_button {
    text-decoration: none;
    width: 6rem;
    height: 2rem;
    padding: 0.4rem;
    margin-right: 1.4rem;

    color: white;
    background-color: var(--primary-Moderate-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
    transform: scale(1);
}

.update_comment {
    display: flex;
    flex-direction: row;
}

.modal_container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    display: flex; /*update before revoking*/
    justify-content: center;
    align-items: center;
}

.modal_content {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: fit-content;
    gap: 1rem;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    transform: scale(1.4);
}

.modal_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#cancel,
#delete_button {
    padding-right: 1rem;
    padding-left: 1rem;
    text-transform: uppercase;
}

#delete_button {
    background-color: var(--primary-Soft-Red);
}

#cancel {
    background-color: var(--neutral-Grayish-Blue);
}
